---
---
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="background-home">
  
    {% include masthead.html %}

      <div id="main" role="main" class="container">
        <div class="pages">
          {% for page in site.pages %}
            {% if page.categories contains 'home' %}
              <article class="page">    
                <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
                <div class="entry">
                  {{ page.excerpt }}                 
                </div>
                <a href="{{ site.baseurl }}{{ page.url }}" class="read-more">Read More</a>
              </article>
            {% endif %}
          {% endfor %}
            {% for testimonial in site.testimonials %}
              {% if testimonial.categories contains 'home' %}
                <article class="testimonial">    
                  <h1><a href="{{ site.baseurl }}testimonials">testimonials</a></h1>
                  <div class="entry">
                    {{ testimonial.content }}
                    <h3>{{ testimonial.title }}</h3>             
                  </div>                 
                  <a href="{{ site.baseurl }}testimonials" class="read-more">Read More</a>
                </article>
              {% endif %}
            {% endfor %}
        </div>
      </div>
    
    </div>
    
    {% include footer.html %}
    
</body>

</html>


