---
---
<html>

{% include head.html %}

<body>

  {% include header.html %}

  <div class="background-home">
  
    {% include masthead.html %}

      <div id="main" role="main" class="container">
        <div class="pages">
          {% for page in site.pages %}
            {% if page.categories contains 'home' %}
              <article class="excerpt">    
                <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
                <img src="images/excerpt{% increment excerpt_count + 1 %}.png" />
                <div class="entry">
                  {{ page.excerpt }}<a href="{{ site.baseurl }}{{ page.url }}" class="read-more">Read More</a>
                </div>               
              </article>
              
            {% endif %}
          {% endfor %}
            {% for testimonial in site.testimonials %}
              {% if testimonial.categories contains 'home' %}
                <article class="excerpt">    
                  <h2><a href="{{ site.baseurl }}testimonials">testimonials</a></h2>
                  <img src="images/excerpt{% increment excerpt_count + 1 %}.png" />
                  <div class="entry">
                    <blockquote><p>{{ testimonial.excerpt }}<a href="{{ site.baseurl }}testimonials" class="read-more">Read More</a></p></blockquote>
                  </div>                 
                </article>
              {% endif %}
            {% endfor %}
        </div>
      </div>
    
    </div>
    
    {% include footer.html %}
    
</body>

</html>


