---
---
//
// IMPORTS
//
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import "_reset";
@import "_variables";

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $black;
  font: 14px/1.2 $helvetica;
  color: $lightGray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $lighterGray;
  
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {  
  font-size: 24px;
  text-transform: lowercase;  
  a {
    color: inherit;
  }
}

h2 {  
  font-size: 20px;
  text-transform: lowercase;
}

h3 {  
  font-size: 16px;
  color: $purple;
}

h4 {  
  font-size: 14px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $white;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $purple;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

blockquote {
    font-style: italic;
    background-color: #222;
    background-color: rgba(24,24,24,0.4);
    padding: 10px;
}

blockquote:before {
  font: 1.4em FontAwesome;
  content: "\f10d";
  margin-right: 10px;
}

blockquote:after {
  font: 1.4em FontAwesome;
  content: "\f10e";
  margin-right: 10px;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/
.wrapper-header {
  border-top: 1px solid $lighterGray;
  border-bottom: 1px solid $lighterGray;
  background-color: $darkGray;
}

header {
  padding: 6px 0;
  text-align: center;
}

.header a {
    text-transform: uppercase;
}

.background { 
  background:url(../images/background-default.jpg) no-repeat; 
  margin: 0 auto;
  max-width: 1455px;
  padding: 0 10px;
  width: 100%;
}

.background-home { 
  background:url(../images/background-home.jpg) no-repeat; 
  margin: 0 auto;
  max-width: 1455px;
  min-height: 566px;
  padding: 0 10px;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
  width: 100%;
}


.wrapper-masthead {
  margin-bottom: 5px;
}

.masthead {
  padding: 35px 0;
  border-bottom: 1px solid $lighterGray;
  text-align: left;
  
  @include mobile {
    padding: 5px 0;
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 125px;
  height: 85px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}
// Height hack to fix avatar/info spacing glitch
@media screen and (max-width: 276px) {
  .site-avatar {
    height: 65px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $lighterGray;
  cursor: pointer;
  font-family: $helveticaNeue; 
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  @include mobile {
    visibility: collapse;
  }
}

.site-description {
  margin: -5px 0 0 0;
  color: $lightGray;
  font-size: 15px;
  text-transform: capitalize;
  
  @include mobile {
    margin: 3px 0;
  }
}

nav {
  margin-top: 5px; // @TODO: Vertically middle align
  font-family: $helveticaNeue; 
  font-size: 14px;
  
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
  }

  a {
    margin-left: 20px;
    color: $lighterGray;
    text-align: right;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $lighterGray;
    }
  }
}

.contact {
  float: right;
  color: $purple;
  background-color: $darkGray;
  background-color: rgba(24,24,24,0.4);
  padding: 5px; 
  
  @include mobile {
      float: none;
    }
}

.phone {
  font-size: 36px;
  color: $white;
  
  @include mobile {
    font-size: 24px;
  }
}

.phone:before { 
  font: 1.2em FontAwesome;
  content: "\f095";
  margin-right: 10px;  
  color: $purple;
}

.email {
  font-size: 18px;
  
  @include mobile {
    font-size: 14px;
  }
}

.email:before { 
  font: 1.4em FontAwesome;
  content: "\f0e0";
  margin-right: 10px;  
}

.excerpt {
    width: 250px;
    min-height: 400px;
    float: left;
    border-right: 1px solid white;
    margin: 5px;
    background-color: #333;
    background-color: rgba(6, 6, 6, 0.5);
    align-content: center;
}
@media screen and (max-width: 850px) {
    .excerpt {
        float: none;
        width: auto;
        height:auto;
        min-height: inherit;
        border-right: none;
    }
}

.excerpt h2 {
    margin: 5px;    
}

.excerpt img {
    margin: 4px 50px 10px;
}
@media screen and (max-width: 850px) {
    .excerpt img {
        display: none;
    }
}

.excerpt .entry {
    color: #ddd;
    margin: 6px;
    letter-spacing: 1px;   
}

.read-more:before { 
  font: 10px FontAwesome;
  vertical-align: sub;
  content: "\f141";
}

.excerpt .read-more {
    font-weight: bold;    
}

.testimonial {   
    border-top: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}

.testimonial h3 {
    text-align: right;
}

.wrapper-footer {
  border-top: 1px solid $lighterGray;
  border-bottom: 1px solid $lighterGray;
  background-color: $darkGray;
}

footer {
  padding: 6px 0;
  text-align: center;
}

.copyright {
    float: right;
    padding-top: 5px;
    font-size: 10px;
}
