<div class="contact">
  {% if site.contact.phone %}<div class="phone">{{ site.contact.phone }}</div>{% endif %}
  {% if site.contact.email %}<div class="email"><a class="eml" href="#">{{ site.contact.email }}</a></div>{% endif %}
</div>
<script type="text/javascript">
  var allElements = document.getElementsByClassName("phone");
  for (var i = 0; i < allElements.length; i++) {
    updateTel(allElements[i])
  }
  var allElements = document.getElementsByClassName("eml");
  for (var i = 0; i < allElements.length; i++) {
    updateEml(allElements[i])
  }
  function updateEml(el) {
    var encoded = el.innerHTML;
    var decoded = decode(encoded);
    el.textContent = decoded;
    el.href = 'mailto:' + decoded;
  }
  function updateTel(el) {
    var encoded = el.innerHTML;
    var decoded = decode(encoded);
    el.innerHTML = decoded;
  }
  function decode(encodedString) {
    var decoded = ""; 
    var keyInHex = encodedString.substr(0, 2);
    var key = parseInt(keyInHex, 16);
    for (var n = 2; n < encodedString.length; n += 2) {
        var charInHex = encodedString.substr(n, 2)
        var char = parseInt(charInHex, 16);
        var output = char ^ key;
        decoded += String.fromCharCode(output);
    }
    return decoded;
  }
</script>
